<h1>danh sách loại tin</h1>

<table class="table table-bordered">
   <thead>
		<tr>
			<th>#</th>
         <th>Tài Khoản</th>
         <th>Tên Đọc Giả</th>
			<th>Thao tác</th>
		</tr>
   </thead>
   <tbody>
   		<tr ng-repeat="item in vm.docgia">
   			<td scope="row">{{$index+1}}</td>
            <td>{{item.TaiKhoan}}</td>
            <td>{{item.TenTaiKhoan}}</td>
   			<td>
   				<button type="button" class="btn btn-success">
   					<span class="glyphicon glyphicon-edit"></span>
   					Sửa
   				</button>
   				<button type="button" class="btn btn-danger">
   					<span class="glyphicon glyphicon-remove"></span>
   					Xóa
   				</button>
   			</td>
   		</tr>
   </tbody>
</table>
<button type="button" class="btn btn-success">Thêm Nhóm tin</button>