<h1>{{vm.titlePage}}</h1>
<br/>
<form action="" method="get" accept-charset="utf-8" novalidate>
	<table class="table table-bordered" style="width:50%">
	   <thead>
			<tr>
				<th></th>
				<th>Tạo tài khoản</th>
			</tr>
	   </thead>
	   <tbody>
	   		<tr>
	   			<td>tên tài khoản</td>
	   			<td><input type="text" name="" value="" class="form-control" placeholder="" ng-model="vm.form.username" ng-disabled="{{vm.editPage}}"></td>
	   		</tr>
	   		<tr>
	   			<td>Mật Khẩu</td>
	   			<td><input type="password" name="" value="" class="form-control" placeholder="" ng-model="vm.form.password"></td>
	   		</tr>
	   		<tr>
	   			<td>Họ và Tên</td>
	   			<td><input type="text" name="" value="" class="form-control" placeholder="" ng-model="vm.form.TenTaiKhoan"></td>
	   		</tr>
	   		<tr>
	   			<td>Người dùng</td>
	   			<td>
	   			<select name="" ng-model="vm.form.quyen" class="form-control">
	   				<option value="1">Người quản trị</option>
	   				<option value="2">Đọc giả</option>
	   				<option value="3">Duyệt tin tức</option>
	   			</select>
	   			</td>
	   		</tr>
	   		<tr>
	   			<td colspan="2" class="text-center">
	   				<button type="submit" class="btn btn-primary" ng-click="vm.createUser()" 
	   				ng-if="vm.createPage">Tạo người dùng</button>
	   				<button type="submit" class="btn btn-primary" ng-click="vm.updateUser()" 
	   				ng-if="vm.editPage">Cập nhật người dùng</button>
	   			</td>
	   		</tr>
	   </tbody>
	</table>
</form>
 