<h1>danh sách người dùng</h1>
<br/>

<div class="alert alert-success" role="alert" ng-if="vm.message">{{vm.message}}</div>

<table class="table table-bordered">
   <thead>
		<tr>
			<th>#</th>
         <th>Tài Khoản</th>
			<th>Họ và tên</th>
         <th>Loại người dùng</th>
			<th>Thao tác</th>
		</tr>
   </thead>
   <tbody>
   		<tr ng-repeat="user in vm.users">
   			<td scope="row">{{$index+1}}</td>
            <td>{{user.username}}</td>
            <td>{{user.TenTaiKhoan}}</td>
            <td ng-if="user.quyen == 1">Người quản trị</td>
            <td ng-if="user.quyen == 2">Đọc giả</td>
   			<td ng-if="user.quyen == 3">Người duyệt tin</td>
   			<td>
   				<a ng-href="#/admin/update-user/{{user._id}}" class="btn btn-success">
   					<span class="glyphicon glyphicon-edit"></span>
   					Sửa
   				</a>
               <button type="button" class="btn btn-danger" data-animation="am-fade-and-slide-top" data-template-url="/js/views/admin/users/modal-delete.html" bs-modal="user" ng-if="$index != 0">
                  <span class="glyphicon glyphicon-remove"></span>
                  Xóa
               </button>
   			</td>
   		</tr>
   </tbody>
</table>
<button type="button" class="btn btn-primary" ng-click="vm.goCreateUser()">Thêm tài khoản</button>
<!-- -->
<!-- You can use a custom html template with the `data-template` attr -->
