<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Hộp Thoại</h4>
      </div>
      <div class="modal-body">Bạn có đồng ý muốn xóa <b>{{TenTaiKhoan}}</b></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Đóng</button>
        <button type="button" class="btn btn-danger" ng-click="vm.deleteUser(_id);$hide()">Xóa</button>
      </div>
    </div>
  </div>
</div>