<aside id="ccr-footer-sidebar">
	<div class="container">

		<ul>
			<li class="col-md-3">
				<h5>About Us</h5>
				<div class="about-us">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, quod, nostrum, corrupti, maxime quis doloribus debitis id consectetur laudantium iure aperiam soluta consequuntur modi accusamus molestias. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, quod, nostrum, corrupti, maxime quis doloribus debitis id consectetur laudantium iure aperiam soluta consequuntur modi accusamus molestias Ab veniam atque eius...
				</div>
				<div class="site-logo">
					<a href="index.html"><img src="logo.png" alt="Side Logo" /><h1>Daily <span>News</span></h1><h3>The Daily News Source</h3></a>
				</div> <!-- / .navbar-header -->
				
			</li>
			<li class="col-md-3">
				<h5>Popular Post</h5>
				<ul>
					<li>
						<img src="thumbnail-small-1.jpg" alt="Avatar">
						<a href="#">Lorem Ipsum is a samply dummy text of Popular Post</a>
					</li>
					<li>
						<img src="sports-thumb-4.jpg" alt="Avatar">
						<a href="#">Lorem Ipsum is a samply dummy text of Popular Post</a>
					</li>
					<li>
						<img src="thumbnail-small-3.jpg" alt="Avatar">
						<a href="#">Lorem Ipsum is a samply dummy text of Popular Post</a>
					</li>
					<li>
						<img src="thumbnail-small-5.jpg" alt="Avatar">
						<a href="#">Lorem Ipsum is a samply dummy text of Popular Post</a>
					</li>
				</ul>
				
			</li>
			<li class="col-md-3">
				<h5>Recent Post</h5>
				<ul>
					<li>
						<img src="thumbnail-small-8.jpg" alt="Avatar">
						<a href="#">Lorem Ipsum is a samply dummy text of Recent Post</a>
					</li>
					<li>
						<img src="sports-thumb-6.jpg" alt="Avatar">
						<a href="#">Lorem Ipsum is a samply dummy text of Recent Post</a>
					</li>
					<li>
						<img src="thumbnail-small-7.jpg" alt="Avatar">
						<a href="#">Lorem Ipsum is a samply dummy text of Recent Post</a>
					</li>
					<li>
						<img src="thumbnail-small-6.jpg" alt="Avatar">
						<a href="#">Lorem Ipsum is a samply dummy text of Recent Post</a>
					</li>
				</ul>
				
			</li>
			<li class="col-md-3">
				<h5>Tags</h5>
				<div class="tagcloud">
					<a href="#">Football</a>
					<a href="#">Games</a>
					<a href="#">World News</a>
					<a href="#">USA</a>
					<a href="#">Salman</a>
					<a href="#">Masrafi</a>
					<a href="#">Afgan</a>
					<a href="#">Obama</a>
					<a href="#">t20</a>
					<a href="#">Business</a>
					<a href="#">Education</a>
					<a href="#">Lorem</a>
					<a href="#">Dhaka</a>
					<a href="#">BBC</a>
					<a href="#">Poland</a>
					<a href="#">Technology</a>
				</div>
				
			</li>
		</ul>
	</div>
	
</aside> <!-- /#ccr-footer-sidebar -->


<footer id="ccr-footer">
	<div class="container">
	 	<div class="copyright">
	 		&copy; 2014, Copyrights <a href="http://codexcoder.com">CodexCoder</a> Theme. All Rights Reserved
	 	</div> <!-- /.copyright -->

	 	<div class="footer-social-icons">
	 		<ul>
	 			<li>
	 				<a href="#"  class="google-plus"><i class="fa fa-google-plus"></i></a>
	 			</li>
	 			<li >
	 				<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
	 			</li>
	 			<li >
	 				<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
	 			</li>
	 			<li >
	 				<a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
	 			</li>
	 		</ul>
	 		
	 	</div><!--  /.cocial-icons -->

	</div> <!-- /.container -->
</footer>  <!-- /#ccr-footer -->
