<header id="ccr-header">
	<section id="ccr-nav-top" class="fullwidth">
		<div class="">
			<div class="container">
				<nav class="top-menu">

					<ul class="right-top-menu pull-right"  ng-if="!rootUserLog">
						<li><a href="#">Đăng Ký</a></li>
						<li><a href="#">Đăng nhập</a></li>
						<li></li>
					</ul> <!--  /.right-top-menu -->
					<ul class="right-top-menu pull-right" ng-if="rootUserLog">
						<li><a href="#">Xin Chào {{rootUserLog.TenTaiKhoan}}</a></li>
						<li><a href="" ng-click="mainVM.logout()" >Logout</a></li>
						<li></li>
					</ul> <!--  /.right-top-menu -->
				</nav> <!-- /.top-menu -->
			</div>
		</div>	
	</section>
	<section id="ccr-site-title">
		<div class="container">
			<div class="site-logo">
				<a href="index.html" class="navbar-brand">
					<img src="logo.png" alt="Side Logo" style="width:78px" />
						<h1>Web <span>News</span></h1>
						<h3>NHỮNG TIN TỨC MỚI NHẤT</h3>
				</a>
			</div> <!-- / .navbar-header -->

			<div class="add-space">
				728 x 90 px Banner
			</div> <!-- / .adspace -->

		</div>	<!-- /.container -->
	</section> <!-- / #ccr-site-title -->



	<section id="ccr-nav-main">
		<nav class="main-menu">
			<div class="container">

				<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".ccr-nav-main">
				            <i class="fa fa-bars"></i>
			          	</button> <!-- /.navbar-toggle -->
				</div> <!-- / .navbar-header -->

				<div class="collapse navbar-collapse ccr-nav-main">
					<ul class="nav navbar-nav">
						<li><a class="active" href="#/trang-chu">Trang Chủ</a></li>
						<li ng-repeat="item in mainVM.nhomTinMenuTop" ng-if="item.KichHoat==true">
							<a ng-href="#/loai-tin/{{item._id}}">{{item.TenNhom}}</a>
						</li>
					</ul> <!-- /  .nav -->
				</div><!-- /  .collapse .navbar-collapse  -->

			</div>	<!-- /.container -->
		</nav> <!-- /.main-menu -->
	</section> <!-- / #ccr-nav-main -->


</header> <!-- /#ccr-header -->
