
<section id="ccr-left-section" class="col-md-8">

	<div class="ccr-last-update">
		<div class="update-ribon">Nổi Bật</div> <!-- /.update-ribon -->
		<span class="update-ribon-right"></span> <!-- /.update-ribon-left -->
		<div class="update-news-text" id="update-news-text">
				<ul id="latestUpdate">  
				    <li><a href="#">Giá xăng giảm</a></li>
				    <li><a href="#">Two</a></li>
				    <li><a href="#">Three</a></li>
				    <li><a href="#">Four</a></li>
				    <li><a href="#">Five</a></li>
				</ul>
		</div> <!-- /.update-text -->

		<div class="update-right-border"></div> <!-- /.update-right-border -->
	</div> <!-- / .ccr-last-update -->

	<section id="ccr-slide-main" class="carousel slide" data-ride="carousel">				
			
			<!-- Carousel items -->
			<div class="carousel-inner">
				<div class="active item">
					<div class="container slide-element">
						<img src="slide/main-slide-1.jpg" alt="Main Slide Image 1" style="width:auto">
						<p><a href="#">Tin Tức đầu tiên</a></p>
					</div> <!-- /.slide-element -->
				</div>	<!--  /.item -->

				<div class="item">
					<div class="container slide-element">
						<img src="slide/main-slide-2.jpg" alt="Main Slide Image 1" style="width:auto">
						<p><a href="#">Tin Tức đầu tiên</a></p>
					</div> <!-- /.slide-element -->
				</div> <!--  /.item -->

				<div class="item">
					<div class="container slide-element">
						<img src="slide/main-slide-3.jpg" alt="Main Slide Image 1" style="width:auto">
						<p><a href="#">Tin Tức đầu tiên</a></p>
					</div> <!-- /.slide-element -->
				</div> <!-- .item -->

				<div class="item">
					<div class="container slide-element">
						<img src="slide/main-slide-4.jpg" alt="Main Slide Image 1" style="width:auto">
						<p><a href="#">Tin Tức đầu tiên</a></p>
					</div> <!-- /.slide-element -->
				</div> <!-- /.item -->

				
			</div> <!-- /.carousel-inner -->
			
			<!-- slider nav -->
			<a class="carousel-control left" data-target="#ccr-slide-main" data-slide="prev"><i class="fa fa-arrow-left"></i></a>
			<a class="carousel-control right" data-target="#ccr-slide-main" data-slide="next"><i class="fa fa-arrow-right"></i></a>

			<ol class="carousel-indicators">
				<li data-target="#ccr-slide-main" data-slide-to="0" class="active"></li>
				<li data-target="#ccr-slide-main" data-slide-to="1"></li>
				<li data-target="#ccr-slide-main" data-slide-to="2"></li>
				<li data-target="#ccr-slide-main" data-slide-to="3"></li>
			</ol> <!-- /.carousel-indicators -->

					
	</section><!-- /#ccr-slide-main -->

	<section id="ccr-latest-post-gallery">
			<div class="ccr-gallery-ttile">
				<span></span> 
				<p>Bài Viết Mới Nhất</p>
			</div><!-- .ccr-gallery-ttile -->

				<ul class="ccr-latest-post">
					<li ng-repeat="item in vm.tintuc" ng-if="$index < 6">
						<div class="ccr-thumbnail">
							<img ng-src="{{item.Anh}}" alt="{{item.Anh}}">
							<p><a ng-href="#/tin-tuc/{{item._id}}">Read More</a></p>
						</div>
						<h4><a ng-href="#/tin-tuc/{{item._id}}">{{vm.readmore(item.NoiDung)}}...</a></h4>
					</li>
				</ul> <!-- /.ccr-latest-post -->
			
		</section> <!--  /#ccr-latest-post-gallery  -->
		
		<section class="bottom-border">
		</section> <!-- /#bottom-border -->




		<section id="ccr-world-news">
			<div class="ccr-gallery-ttile">
					<span></span> 
					<p>{{vm.byCat}}</p>
			</div> <!-- .ccr-gallery-ttile -->
			<br/>
			<ul>
				<li ng-repeat="item in vm.tintucByCat">
						<div class="ccr-thumbnail">
							<img ng-src="{{item.Anh}}" alt="">
							<p><a ng-href="#/tin-tuc/{{item._id}}">Read More</a></p>
						</div>
					<h5><a ng-href="#/tin-tuc/{{item._id}}">{{vm.readmoreNum(item.NoiDung,35)}}...</a></h5>
				</li>
			</ul>
		</section> 

		<section class="bottom-border"></section>

		<section id="ccr-world-news">
			<div class="ccr-gallery-ttile">
					<span></span> 
					<p>{{vm.byCat2}}</p>
			</div> <!-- .ccr-gallery-ttile -->
			<br/>
			<ul>
				<li ng-repeat="item in vm.tintucByCat2">
						<div class="ccr-thumbnail">
							<img ng-src="{{item.Anh}}" alt="">
							<p><a ng-href="#/tin-tuc/{{item._id}}">Read More</a></p>
						</div>
					<h5><a ng-href="#/tin-tuc/{{item._id}}">{{vm.readmoreNum(item.NoiDung,35)}}...</a></h5>
				</li>
			</ul>
		</section> 

		<section class="bottom-border"></section>








</section><!-- /.col-md-8 / #ccr-left-section -->


