<section id="ccr-main-section">
	<div class="container">

		<ng-include src="'js/views/home/' + path + '.html'"></ng-include>
		<ng-include src="'js/views/home/sidebar.html'"></ng-include>

	</div><!-- /.container -->
</section><!-- / #ccr-main-section -->



