		<section id="ccr-left-section" class="col-md-8">
<!-- 
			<div class="current-page">
				<a href="index.html"><i class="fa fa-home"></i> <i class="fa fa-angle-double-right"></i></a> Category 2
			</div> / .current-page -->

				<section id="ccr-category-2">

					
					<div class="ccr-category-featured" ng-init="itemFirst = vm.theLoaiTin[0]" ng-if="vm.theLoaiTin">
						<div class="ccr-thumbnail"><img ng-src="{{itemFirst.Anh}}" alt="Thumb"></div>
						<article>
						<h4>{{itemFirst.TieuDe}}</h4>
						<p>{{itemFirst.NoiDung | limitTo: 300}}{{itemFirst.NoiDung.length > 300 ? '...' : ''}}</p>
							<div class="like-comment-readmore">
								<!-- <a href="#" class="like"><i class="fa fa-thumbs-o-up"></i> 08</a> 
								<a href="#"  class="comments"><i class="fa fa-comments-o"></i> 49</a>-->
								<a class="read-more" ng-href="#/tin-tuc/{{itemFirst._id}}">Read More</a>
							</div> <!-- /.like-comment-readmore -->
						</article>
					</div> <!-- /#ccr-category-featured -->
					<div class="ccr-category-featured" ng-if="vm.theLoaiTin == false">
						<p>Mục này chưa có tin tức</p>
					</div>

					<div id="ccr-categpry-latest-post">
						<ul class="ccr-category-post">
							<li ng-repeat="item in vm.theLoaiTin" ng-if="$index != 0">
								<div class="ccr-thumbnail">
									<img ng-src="{{item.Anh}}" alt="">
									<p><a ng-href="#/tin-tuc/{{item._id}}">Read More</a></p>
								</div>
								<h5><a ng-href="#/tin-tuc/{{item._id}}">{{vm.readmore(item.TieuDe)}}...</a></h5>
							</li>
						</ul> <!-- /.ccr-latest-post -->
					</div> <!-- /.ccr-latest-post-gallery -->

					<!--
					<nav class="nav-paging">
						<ul>
							<li><a href="#pre"><i class="fa fa-chevron-left"></i></a></li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><span class="current">3</span></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#next"><i class="fa fa-chevron-right"></i></a></li>
						</ul>
					</nav>
					-->

				</section> <!-- / #ccr-category-2 -->


		</section><!-- /.col-md-8 / #ccr-left-section -->