		<aside id="ccr-right-section" class="col-md-4 ccr-home">

			<section id="sidebar-older-post">
				<div class="ccr-gallery-ttile">
					<span></span> 
					<p><strong>{{vm.byCat3}}</strong></p>
				</div> <!-- .ccr-gallery-ttile -->
				<ul>

<!-- 					<li ng-repeat="item in vm.tintucByCat2">
							<div class="ccr-thumbnail">
								<img ng-src="{{item.Anh}}" alt="">
								<p><a ng-href="#/tin-tuc/{{item._id}}">Read More</a></p>
							</div>
						<h5><a ng-href="#/tin-tuc/{{item._id}}">{{vm.readmoreNum(item.NoiDung,35)}}...</a></h5>
					</li> -->

					<li ng-repeat="item in vm.tintucByCat3">
						<!-- <img src="sports-thumb-10.jpg" alt="Avatar"> -->
						<a ng-href="#/tin-tuc/{{item._id}}">{{item.TieuDe}}</a>
						<div class="date-like-comment">
							<span class="date"><time datetime="2014-02-17">{{item.NgayDang | date:"dd/MM/yyyy"}}</time></span>
						</div>
					</li>
				</ul>

			</section> <!-- /#sidebar-older-post -->

			<section id="sidebar-entertainment-post">
				<div class="ccr-gallery-ttile">
					<span></span> 
					<p><strong>Giải Trí</strong></p>
				</div> <!-- .ccr-gallery-ttile -->

				<div class="sidebar-entertainment">
					<img src="entertainment.jpg" alt="entertainment">
					<a href="#">Miss Joly loves you to share her tell. Are you ready?</a>
				</div>
				<div class="date-like-comment">
					<a href="#" class="like"><i class="fa fa-thumbs-o-up"></i> 08</a>
					<a href="#" class="comments"><i class="fa fa-comments-o"></i> 49</a>
				</div>
			</section>  <!-- /#sidebar-entertainment-post -->


			<section id="ccr-sidebar-add-place">
				<div class="sidebar-add-place">
					370x250 px
				</div> 
			</section> <!-- /#ccr-sidebar-add-place -->

<!-- 
			<section id="ccr-sidebar-newslater">
				
				<div class="ccr-gallery-ttile">
					<span></span> 
					<p><label for="sb-newslater"><strong>Newslater</strong></label></p>
				</div>
				
				<div class="sidebar-newslater-form">
					<form class="ccr-gallery-ttile" action="#">
						<input type="email" id="sb-newslater" name="sb-newslater" placeholder="Enter your email address" required>
						<button type="submit">Subscribe</button>

					</form>
				</div> 
			</section>  -->

			<section id="ccr-find-on-fb">
				<div class="find-fb-title">
					<span><i class="fa fa-facebook"></i></span> Find us on Facebook
				</div> <!-- /.find-fb-title -->
				<div class="find-on-fb-body">

					<!-- <div class="fb-like-box" data-href="https://www.facebook.com/codexcoderltd/" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div> -->
					
					<div class="fb-page" 
					  data-href="https://www.facebook.com/tintucmoinhattrongngay"
					  data-width="380" 
					  data-hide-cover="false"
					  data-show-facepile="false" 
					  data-show-posts="false"></div>
				</div> <!-- /.find-on-fb-body -->
			</section> <!-- /#ccr-find-on-fb -->


		</aside><!-- / .col-md-4  / #ccr-right-section -->