<section id="ccr-left-section" class="col-md-8">
<!--
	<div class="current-page">
		<a href="index.html"><i class="fa fa-home"></i> <i class="fa fa-angle-double-right"></i></a> <a href="blog.html">Blog <i class="fa fa-angle-double-right"></i></a> Single
	</div>  / .current-page -->

	<article id="ccr-article">
		<h1><a href="" >{{vm.chiTietTinTuc.TieuDe}}</a></h1>

		<div class="article-like-comment-date">	
			 Đăng ngày <time datetime="2014-02-17">{{vm.chiTietTinTuc.NgayDang | date:"dd/MM/yyyy"}}</time> 

			<a class="like" href="#"><i class="fa fa-thumbs-o-up"></i> 08</a>
			<a class="comments" href="#"><i class="fa fa-comments-o"></i> 49</a>
								
		</div> <!-- /.article-like-comment-date -->


		<img src="{{vm.chiTietTinTuc.Anh}}" alt="" style="width: 100%">
		<p>
			{{vm.chiTietTinTuc.NoiDung}}
		</p>

	</article> <!-- /#ccr-single-post -->


	<section id="ccr-article-related-post">
		<div class="ccr-gallery-ttile">
				<span class="bottom"></span>
				<p>Những tin tức mới nhất</p>
		</div> <!-- .ccr-gallery-ttile -->
		<ul>
				<li  ng-repeat="item in vm.tintuc" ng-if="$index < 8">
					<div class="ccr-thumbnail">
						<img ng-src="{{item.Anh}}" alt="thumbnail-small-1.jpg">
						<p><a ng-href="#/tin-tuc/{{item._id}}">Read More</a></p>
					</div>
					<h5><a ng-href="#/tin-tuc/{{item._id}}">{{vm.readmoreNum(item.NoiDung,35)}}...</a></h5>
				</li>
			</ul>


	</section> <!-- /#ccr-article-related-post -->

	<section class="bottom-border"></section> <!-- /#bottom-border -->

	<section id="ccr-commnet">
		<div class="ccr-gallery-ttile">
				<span class="bottom"></span>
				<p>Bình Luận</p>
		</div> <!-- .ccr-gallery-ttile -->

		<ol class="commentlist">
			<li  class="comment" ng-repeat="item in vm.binhluan">
				<article>
					<div class="comment-content">
						<a href="#">{{item.DocGia.TenTaiKhoan}}:</a> 
						{{item.NoiDung}}
					</div>
					<!-- <div class="comment-meta"> 08 February; 2014</div> -->
				</article>
			</li> <!-- /.comment -->
		</ol> <!-- /.commentlist -->



	</section> <!-- /#ccr-commnet -->



	<section class="bottom-border"></section> <!-- /#bottom-border -->

	<!--<section id="ccr-respond">
		<div class="ccr-gallery-ttile">
				<span class="bottom"></span>
				<p>Post a Comment</p>
		</div>
		<div id="respond">
			<form action="#" method="post" id="commentform">
			<textarea id="comment" name="comment" placeholder="Message" rows="8" required></textarea>
			<input name="submit" type="submit" id="submit" value="Submit">
			
			</form> 
			
		</div>  

	</section>  /#ccr-respond -->


		


</section><!-- /.col-md-8 / #ccr-left-section -->