<h1>danh sách quảng cáo</h1>
<div class="alert alert-success" role="alert" ng-if="vm.message">{{vm.message}}</div>
<br/>
<table class="table table-bordered">
   <thead>
		<tr>
			<th>#</th>
			<th>Tên Quảng Cáo</th>
         <th>Vị Trí</th>
			<th>Thao tác</th>
		</tr>
   </thead>
   <tbody>
   		<tr ng-repeat="item in vm.quangcao">
   			<td scope="row">{{$index+1}}</td>
            <td>{{item.TenQuangCao}}</td>
   			<td>{{item.ViTri}}</td>
   			<td>
   				<a ng-href="#/admin/sua-quang-cao/{{item._id}}" class="btn btn-success">
   					<span class="glyphicon glyphicon-edit"></span>
   					Sửa
   				</a>
               <button type="button" class="btn btn-danger" data-animation="am-fade-and-slide-top" data-template-url="/js/views/admin/quangcao/modal.html" bs-modal="item">
   					<span class="glyphicon glyphicon-remove"></span>
   					Xóa
   				</button>
   			</td>
   		</tr>
   </tbody>
</table>
<a href="#/admin/tao-quang-cao" class="btn btn-success">Thêm Quảng Cáo</a>
