<h1 ng-if="vm.createPage">Thêm quảng cáo</h1>
<h1 ng-if="vm.updatePage">Chỉnh sửa quảng cáo</h1>
<br/>
<form action="" method="get" accept-charset="utf-8" novalidate>
	<table class="table table-bordered" style="width:50%">
	   <thead>
			<tr>
				<th></th>
				<th>Tạo tài khoản</th>
			</tr>
	   </thead>
	   <tbody>
	   		<tr>
	   			<td>Tên Quảng Cáo</td>
	   			<td><input type="text" name="" value="" class="form-control" placeholder="" ng-model="vm.form.TenQuangCao"></td>
	   		</tr>
	   		<tr>
	   			<td>Ảnh</td>
	   			<td><input type="text" name="" value="" class="form-control" placeholder="" ng-model="vm.form.Anh"></td>
	   		</tr>
	   		<tr>
	   			<td>Vị Trí</td>
	   			<td class="text-left">
	   				<select name="" ng-model="vm.form.ViTri">
	   					<option value="header">Header</option>
	   					<option value="right">Right</option>
	   				</select>
	   			</td>
	   		</tr>

	   		<tr>
	   			<td colspan="2" class="text-center">
	   				<button type="submit" class="btn btn-primary" ng-click="vm.create()" 
	   				ng-if="vm.createPage">Tạo Nhóm Tin</button>
	   				<button type="submit" class="btn btn-primary" ng-click="vm.update()" 
	   				ng-if="vm.updatePage">Cập Nhật Nhóm Tin</button>
	   			</td>
	   		</tr>
	   </tbody>
	</table>
</form>
 