<h1>danh sách loại tin</h1>

<div class="alert alert-success" role="alert" ng-if="vm.message">{{vm.message}}</div>

<table class="table table-bordered">
   <thead>
		<tr>
			<th>#</th>
         <th>Tên Loại Tin</th>
         <th>Nội Dung</th>
         <th>Người bình luận</th>
			<th>Tin Tức</th>
			<th>Thao tác</th>
		</tr>
   </thead>
   <tbody>
   		<tr ng-repeat="item in vm.binhluan">
   			<td scope="row">{{$index+1}}</td>
            <td>{{item.TieuDe}}</td>
            <td>{{item.NoiDung}}</td>
            <td>{{item.DocGia.TenTaiKhoan}}</td>
   			<td>{{item.TinTuc.TieuDe}}</td>
   			<td>
               <button type="button" class="btn btn-danger" data-animation="am-fade-and-slide-top" data-template-url="/js/views/admin/binhluan/modal.html" bs-modal="item">
   					<span class="glyphicon glyphicon-remove"></span>
   					Xóa
   				</button>
   			</td>
   		</tr>
   </tbody>
</table>
