<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="calcuApp">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title ng-bind-template="{{ pageTitle }} - Chương Trình">Chương Trình</title>
	<link rel="stylesheet" type="text/css" href="css/libs/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/fonts/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/libs/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<script src="js/libs/angular.min.js"></script>
	<script src="ng-file-upload/ng-file-upload.min.js"></script>
	<script src="angularUtils-pagination/dirPagination.js"></script>
	<script src="ngstorage/ngStorage.min.js"></script>
	<script src="js/libs/angular-strap.min.js"></script>
	<script src="js/libs/angular-strap.tpl.min.js"></script>
	<script src="js/libs/angular-route.min.js"></script>
	<script src="js/services/CustomService.js"></script>
	<script src="js/services/UserService.js"></script>
	<script src="js/services/NhomTinService.js"></script>
	<script src="js/services/TinTucService.js"></script>
	<script src="js/services/BinhLuanService.js"></script>
	<script src="js/services/DocGiaService.js"></script>
	<script src="js/services/QuangCaoService.js"></script>
 	<script src="js/controllers/UserController.js"></script>
 	<script src="js/controllers/AuthController.js"></script>
 	<script src="js/controllers/NhomTinController.js"></script>
 	<script src="js/controllers/TinTucController.js"></script>
 	<script src="js/controllers/BinhLuanController.js"></script>
 	<script src="js/controllers/DocGiaController.js"></script>
 	<script src="js/controllers/QuangCaoController.js"></script>
 	<script src="js/controllers/HomeController.js"></script>
<!-- 	<script src="js/controllers/main.js"></script>
	<script src="js/services/todos.js"></script -->
	<script src="js/app.js"></script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</head>
<body ng-controller="mainController as mainVM">

	<div ng-if="isBackend">
		<ng-include src="'js/views/admin/header.html'" 
		ng-if="!mainVM.isPageLogin(mainVM.$location.path())"></ng-include>
		<div ng-view></div>
		<ng-include src="'js/views/admin/footer.html'"></ng-include>
	</div>
	
	<div ng-if="!isBackend">
		<ng-include src="'js/views/home/header.html'"></ng-include>
		<div ng-view></div>
		<ng-include src="'js/views/home/footer.html'"></ng-include>
	</div>



	<script src="js/libs/jquery-1.9.1.min.js"></script>
	<script src="js/libs/bootstrap.min.js"></script>
	<script src="js/libs/custom.js"></script>
</body>
</html>
