<h1>danh sách loại tin</h1>
<div class="alert alert-success" role="alert" ng-if="vm.message">{{vm.message}}</div>
<br/>
<table class="table table-bordered">
   <thead>
		<tr>
			<th>#</th>
			<th>Tên Loại Tin</th>
			<th>Thao tác</th>
		</tr>
   </thead>
   <tbody>
         <!-- <tr dir-paginate="item in vm.nhomtin | itemsPerPage: pageSize" current-page="currentPage"> -->
   		<tr ng-repeat="item in vm.nhomtin">
   			<td scope="row">{{$index+1}}</td>
   			<td>{{item.TenNhom}}</td>
   			<td>
   				<a ng-href="#/admin/sua-nhom-tin/{{item._id}}" class="btn btn-success">
   					<span class="glyphicon glyphicon-edit"></span>
   					Sửa
   				</a>
               <button type="button" class="btn btn-danger" data-animation="am-fade-and-slide-top" data-template-url="/js/views/admin/nhomtin/modal.html" bs-modal="item">
   					<span class="glyphicon glyphicon-remove"></span>
   					Xóa
   				</button>
   			</td>
   		</tr>
   </tbody>
</table>
<!-- <div class="text-center">
   <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="angularUtils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
</div> -->
<a href="#/admin/tao-nhom-tin" class="btn btn-success">Thêm Nhóm tin</a>
