<h1 ng-if="vm.createPage">Thêm nhóm tin</h1>
<h1 ng-if="vm.updatePage">Chỉnh sửa nhóm tin</h1>
<br/>
<form action="" method="get" accept-charset="utf-8" name="myForm">
	<table class="table table-bordered" style="width:50%">
	   <thead>
			<tr>
				<th></th>
				<th>Tạo tài khoản</th>
			</tr>
	   </thead>
	   <tbody>
	   		<tr>
	   			<td>Tên Nhóm</td>
	   			<td><input type="text" name="" value="" class="form-control" placeholder="" ng-model="vm.form.TenNhom" ng-disabled="{{vm.editPage}}" required></td>
	   		</tr>
	   		<tr>
	   			<td>Thứ Tự</td>
	   			<td><input type="number" name="" value="" class="form-control" placeholder="" ng-model="vm.form.ThuTu" required></td>
	   		</tr>
	   		<tr>
	   			<td>Kích hoạt</td>
	   			<td class="text-left"><input type="checkbox" name="" value="" placeholder="" ng-model="vm.form.KichHoat"></td>
	   		</tr>

	   		<tr>
	   			<td colspan="2" class="text-center">
<!-- 	   				<button type="submit" class="btn btn-primary" ng-click="vm.create()">Tạo Nhóm Tin</button> -->	
	   				<button type="submit" class="btn btn-primary" ng-click="vm.create()" 
	   				ng-if="vm.createPage" ng-disabled="!myForm.$valid">Tạo Nhóm Tin</button>
	   				<button type="submit" class="btn btn-primary" ng-click="vm.update()" 
	   				ng-if="vm.updatePage" ng-disabled="!myForm.$valid">Cập Nhật Nhóm Tin</button>
	   			</td>
	   		</tr>
	   </tbody>
	</table>
</form>
 