<!-- <nav class="navbar navbar-default" ng-if="header"> -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#/trang-chu">
	      	Trang Tính
	      </a>
	      <ul class="nav navbar-nav">
	        <li 
	        ng-class="{active: mainVM.$route.current.activetab == 'user'}">
	        	<a href="#/admin/user">Người Dùng</a>
	        </li>
	        <li 
	        ng-class="{active: mainVM.$route.current.activetab == 'nhomtin'}">
	        	<a href="#/admin/nhom-tin">Nhóm Tin</a>
	        </li>
	        <li 
	        ng-class="{active: mainVM.$route.current.activetab == 'tintuc'}">
	        	<a href="#/admin/tin-tuc">Tin Tức</a>
	        </li>
	        <li 
	        ng-class="{active: mainVM.$route.current.activetab == 'binhluan'}">
	        	<a href="#/admin/binh-luan">Bình Luận</a>
	        </li>
	        <li 
	        ng-class="{active: mainVM.$route.current.activetab == 'quangcao'}">
	        	<a href="#/admin/quang-cao">Quảng Cáo</a>
	        </li>
<!-- 	        <li 
	        ng-class="{active: mainVM.$route.current.activetab == 'docgia'}">
	        	<a href="#/admin/doc-gia">Đọc Giả</a>
	        </li> -->
	      </ul>
	    </div>
		<ul class="nav navbar-nav navbar-right">
		        <li>
		        	<a ng-href="#/admin/update-user/{{rootUserLog._id}}" title="">Xin Chào {{rootUserLog.TenTaiKhoan}}</a>
		        </li>
		        <li>
		        	<a href="" ng-click="mainVM.logout()" >Logout</a>
		        </li>
		</ul>
	</div>
</nav>
