<!-- <form name="form_login"  accept-charset="utf-8">
	{{vm.hello}}
	<input type="text" ng-model="vm.form.username" name="" value="" placeholder="">
	<input type="password" ng-model="vm.form.password" name="" value="" placeholder="">
	<button ng-click="vm.login(vm.form)">login</button>
</form> -->
<div class="container">
	<div class="alert alert-danger" role="alert" ng-if="vm.error">Tài Khoản hoặc mật khẩu không đúng.Nhập lại.</div>
	<form class="form-signin" style="max-width: 330px;padding: 15px;margin: 0 auto;">
        <h2 class="form-signin-heading">Đăng Nhập</h2>
        <label for="inputEmail" class="sr-only">Tài Khoản</label>
        <input type="text" ng-model="vm.form.username" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Mật Khẩu</label>
        <input type="password" ng-model="vm.form.password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <br/>
        <button ng-click="vm.login(vm.form)" class="btn btn-lg btn-primary btn-block" type="submit">Đăng Nhập</button>
      </form>
</div>