<h1>danh sách tin tức</h1>
<br/>
<div class="alert alert-success" role="alert" ng-if="vm.message">{{vm.message}}</div>
<table class="table table-bordered">
   <thead>
		<tr>
			<th>#</th>
         <th>Tiêu Đề</th>
         <th>Ảnh</th>
         <!-- <th>Nội Dung</th> -->
         <th>Nhóm Tin</th>
         <th>Ngày Đăng</th>
			<th>Thao Tác</th>
		</tr>
   </thead>
   <tbody>
   		<tr dir-paginate="tin in vm.tintuc | itemsPerPage: pageSize" current-page="currentPage">
   			<td scope="row">{{$index+1}}</td>
            <td>{{tin.TieuDe}}</td>
            <td><img ng-src="{{tin.Anh}}" alt="" style="width:70px"></td>
            <!-- <td>{{tin.NoiDung}}</td> -->
            <td>{{tin.NhomTin.TenNhom}}</td>
            <!-- <td>{{vm.getNhomTinByTin(tin.NhomTin)}}</td> -->
   			<td>{{tin.NgayDang | date:"dd/MM/yyyy"}}</td>
   			<td>
   				<a type="button" class="btn btn-success"  ng-href="#/admin/cap-nhat-tin-tuc/{{tin._id
               }}">
   					<span class="glyphicon glyphicon-edit"></span>
   					Sửa
   				</a>
               <button type="button" class="btn btn-danger" data-animation="am-fade-and-slide-top" data-template-url="/js/views/admin/tintuc/modal-tintuc.html" bs-modal="tin">
                  <span class="glyphicon glyphicon-remove"></span>
                  Xóa
               </button>
   			</td>
   		</tr>
   </tbody>
</table>
<div class="text-center">
   <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="angularUtils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
</div>
<a type="button" class="btn btn-success" href="#/admin/tao-tin-tuc">Thêm tin tức</a>