<h1>{{vm.titlePage}}</h1>
<br/>
<form action="" method="get" accept-charset="utf-8" enctype="multipart/form-data">
	<table class="table table-bordered" style="width:50%">
	   <thead>
			<tr>
				<th></th>
				<th>Tạo tin tức</th>
			</tr>
	   </thead>
	   <tbody>
	   		<tr>
	   			<td>Tiêu đề</td>
	   			<td><input type="text" name="" value="" class="form-control" placeholder="" ng-model="vm.form.TieuDe"></td>
	   		</tr>
	   		<tr>
	   			<td>Nội dung</td>
	   			<td>
	   				<textarea ng-model="vm.form.NoiDung" class="form-control"></textarea>
	   			</td>
	   		</tr>
	   		<tr>
	   			<td>Hình ảnh</td>
	   			<td>
	   			<!-- <input type="file" name="hinhanh" ng-model="vm.form.Anh"/> -->
<!-- <button type="file" ngf-select="vm.uploadFiles($file, $invalidFiles)"
accept="image/*">
Select File</button> -->
<!-- 				<input type="file" ngf-select ng-model="vm.Anh" name="file"    
				accept="image/*" >
				<br/>
				<img ng-src="{{vm.form.Anh}}" alt="" style="width:70px"> -->
			<input 
				type="file" 
				ngf-select 
				ng-model="vm.file" 
				name="file" 
				ngf-pattern="'image/*'"
				accept="image/*" 
				ngf-max-size="20MB" 
				/>	
				 Image thumbnail: <img style="width:100px;" ngf-thumbnail="vm.file"/>			
	   			</td>

	   		</tr>
	   		<tr ng-hide="rootUserLog.quyen != 3">
	   			<td>Duyệt tin</td>
	   			<td class="text-left"><input type="checkbox" name="" value="" placeholder="" ng-model="vm.form.KichHoat"></td>
	   		</tr>
	   		<tr>
	   			<td>Loại tin</td>
	   			<td>
	   			<select name="" ng-model="vm.form.NhomTin" class="form-control">
	   				<option value="{{item._id}}" ng-repeat="item in vm.nhomtin">{{item.TenNhom}}</option>
	   			</select>
	   			</td>
	   		</tr>
<!-- 	   		<tr>
	   			<td>Ngày Đăng</td>
	   			<td>
      				<input type="text" size="10" class="form-control" ng-model="vm.form.NgayDang" data-autoclose="1" placeholder="Date" data-date-format="dd/MM/yyyy" bs-datepicker>
	   			</td>
	   		</tr> -->
	   		<tr>
	   			<td colspan="2" class="text-center">
<!-- 	   				<button type="submit" class="btn btn-primary" ng-click="vm.createUser()" 
	   				ng-if="vm.createPage">Tạo người dùng</button>
	   				<button type="submit" class="btn btn-primary" ng-click="vm.updateUser()" 
	   				ng-if="vm.editPage">Cập nhật người dùng</button> -->
	   				<button type="submit" class="btn btn-primary" ng-click="vm.taoTinTuc()" ng-if="vm.createPage">Tạo Tin Mới</button>
	   				<button type="submit" class="btn btn-primary" ng-click="vm.update()" 
	   				ng-if="vm.updatePage">Cập nhật tin tức</button>
	   				<!-- <button type="submit" class="btn btn-primary" ng-click="vm.uploadPic(vm.form.Anh)"  
	   				>Tạo Tin Mới</button>-->
	   			</td>
	   		</tr>
	   </tbody>
	</table>
</form>
 